# Dynamic configuration
http:
  middlewares:
    user-auth:
      basicAuth:
        users:
    {% for key, value in traefik_auth.items() %}
        - "{{ key }}:{{ value }}"
    {% endfor %}

    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
        port: 443  

    app-whitelist:
      ipWhiteList:
        sourceRange:
         - {{ traefik_ip_white_list }}

    redirect-http-no-www:
      redirectRegex:
        regex: "^http?://www\\.(.+)"
        replacement: "http://${1}"
        permanent: true
    redirect-https-no-www:
      redirectRegex:
        regex: "^https?://www\\.(.+)"
        replacement: "https://${1}"
        permanent: true
